body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #3498db;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

nav {
    background-color: #2980b9;
    padding: 0.5rem 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #1c638d;
    border-radius: 3px;
}

.form-group {
    margin-bottom: 15px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-column {
    flex: 1;
    margin-right: 10px; /* Espace entre les colonnes */
}

.form-column:last-child {
    margin-right: 0; /* Suppression de l'espace à droite pour la dernière colonne */
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="number"], textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 100px; /* Ajustez la hauteur selon vos besoins */
}

.btn {
    display: inline-block;
    padding: 8px 15px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 10px;
}

.btn:hover {
    background-color: #2980b9;
}

.alert {
    color: #2ecc71;
    margin-top: 10px;
}

footer {
    background-color: #2980b9;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 20px;
}